@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration : none;
    color: black;

}

a:hover {
    color: #f76c6c;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background: #f4f4f4;
    text-align: center;
    padding: 2em;
}

header img {
    max-width: 96px;
}

header h1 {
    font-size: 2.5em;
}



h1, h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
select {
    width: 170px;
 }

.new-member-form {
    width: 170px;
    padding-bottom: 2em;
    margin-right: auto;
    margin-left: auto;
}

.btn-form{
    margin-top: 20px;
    margin-left: 50px;
}
.flash {
    text-align: center;
    color: #f76c6c;
    font-size: large;
    margin-bottom: 0.2em;
}

.member-item {
    text-align: center;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border : 5px solid;
    border-color: #f4f4f4;
    background-color: white;

}
#list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 930px;
    margin: auto;
    background-color: #f4f4f4;


}

.section-profil {
    background: #f4f4f4;
    width: 30em;
    height: 18em;
    margin: auto;
    border-radius: 25px;
    padding-top: 60px;
}

.item-profil {
    margin-left: 9em;
    margin-top: 30px;
}

#col {
    column-count: 3;
    background-color: rebeccapurple;
    column-gap: 0em;
    padding: 0px;
}

footer {
    margin-top: 2em;
    text-align: center;
    color: #fff;
    background: #f76c6c;
    padding: 0.25em 0;
}